@import "variable";
.ani-class{
    transform: translate3d(0,0,0)!important;
}
.ani-chart-in{
    transform: translate3d(0,0,0)!important;
}
.boder-right{
    border-right: 1px solid $color-gray;
}
.ani-sec6{
    transform: translate3d(0,0,0)!important;
}