@import "variable";
.ani-class{
    animation: bounceInLeft 1.5s linear forwards;
}
.ani-chart-in{
    animation: bounceInRight 1.5s linear forwards;
}
.ani-sec6{
    animation: bounceInRight 1.5s linear forwards;
}
.sec71-ani{
    animation: bounceInUp 1.5s linear forwards;
}
.sec72-ani{
    animation: bounceInUp 1.5s linear 0.25s forwards;
}
.sec73-ani{
    animation: bounceInUp 1.5s linear 0.5s forwards;
}
.boder-right{
    border-right: 1px solid $color-gray;
}
.text-blue{
    color: #659BD1 !important;
}
.pd-top{
    padding-top: 0.4em !important;
}
.mr-top-1em-media{
    @media only screen and (max-width: 575px) {
        margin-top: 1em;
    }
}
.btn-show{
    display: block !important;
}
.btn-hide{
    display: none !important;
}
.str-gold{
    color: $color-star-gold !important;
}
.str-none{
    color: $color-star-none;
}
.color-red{
    color: red !important;
}