@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?r7u27d");
  src: url("../fonts/icomoon.eot?r7u27d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?r7u27d") format("truetype"), url("../fonts/icomoon.woff?r7u27d") format("woff"), url("../fonts/icomoon.svg?r7u27d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-phone:before {
  content: "\e942"; }

body {
  font-family: 'Montserrat', sans-serif; }

.navbar {
  background: white;
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important; }
  .navbar .navbar-brand #logo-big {
    display: inline-block;
    width: 10em;
    height: auto; }
    @media only screen and (max-width: 991px) {
      .navbar .navbar-brand #logo-big {
        display: none; } }
  .navbar .navbar-brand #logo-small {
    display: none; }
    @media only screen and (max-width: 991px) {
      .navbar .navbar-brand #logo-small {
        display: inline-block; } }
  .navbar .collapse ul {
    position: absolute;
    right: 2em; }
    @media only screen and (max-width: 767px) {
      .navbar .collapse ul {
        position: relative;
        right: 0; } }
    .navbar .collapse ul .hide-item {
      display: inline-block; }
      @media only screen and (max-width: 1202px) {
        .navbar .collapse ul .hide-item {
          display: none !important; } }
    .navbar .collapse ul .hide-dropdown {
      display: none; }
      @media only screen and (max-width: 1202px) {
        .navbar .collapse ul .hide-dropdown {
          display: inline-block !important; } }
    .navbar .collapse ul .nav-item {
      padding-right: 1em span;
        padding-right-color: #659BD1; }
      .navbar .collapse ul .nav-item .nav-link {
        color: rgba(0, 0, 0, 0.5); }
        .navbar .collapse ul .nav-item .nav-link:hover {
          color: black; }
        .navbar .collapse ul .nav-item .nav-link .text-black {
          color: black;
          text-transform: capitalize;
          font-weight: 500; }
      .navbar .collapse ul .nav-item .dropdown-menu {
        position: absolute;
        left: -5em; }
        @media only screen and (max-width: 767px) {
          .navbar .collapse ul .nav-item .dropdown-menu {
            position: relative;
            left: 0; } }
        .navbar .collapse ul .nav-item .dropdown-menu a {
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          padding-top: 0.5em;
          padding-bottom: 0.5em; }
          .navbar .collapse ul .nav-item .dropdown-menu a:last-of-type {
            border-bottom: none; }
          .navbar .collapse ul .nav-item .dropdown-menu a .icon {
            display: inline-block;
            margin-right: 1em; }
            .navbar .collapse ul .nav-item .dropdown-menu a .icon img {
              width: auto;
              height: 24px; }

.panel-home .section1 {
  background: #659BD1;
  padding-bottom: 2em; }
  .panel-home .section1 .container {
    margin: 0 auto; }
    .panel-home .section1 .container h1 {
      font-size: 48px;
      text-align: center;
      font-size: 3em;
      color: white;
      font-weight: bolder;
      margin-bottom: 2em; }
    .panel-home .section1 .container .ani1 {
      animation: bounceInUp 1.5s linear forwards; }
    .panel-home .section1 .container .ani2 {
      animation: bounceInUp 1.5s linear 0.2s forwards; }
    .panel-home .section1 .container .ani3 {
      animation: bounceInUp 1.5s linear 0.4s forwards; }
    .panel-home .section1 .container .sec1-ani {
      text-align: center; }
      .panel-home .section1 .container .sec1-ani img {
        width: 7em;
        height: auto;
        margin-bottom: 1em; }
      .panel-home .section1 .container .sec1-ani #rate-icon {
        width: 8em; }
      .panel-home .section1 .container .sec1-ani h5 {
        color: white;
        font-weight: bolder;
        text-align: center; }
.panel-home .section2 {
  margin-top: 2em; }
  .panel-home .section2 .container-section2 {
    width: 90%;
    margin: 0 auto; }
    .panel-home .section2 .container-section2 .contact .contact-now {
      margin-top: 1.5em;
      text-transform: uppercase;
      background: white;
      color: #659BD1;
      line-height: 1.5em;
      width: 13em;
      border: 2px solid #659BD1;
      border-radius: 2em;
      font-size: 12px; }
      .panel-home .section2 .container-section2 .contact .contact-now:hover {
        background: #659BD1;
        color: white; }
    .panel-home .section2 .container-section2 .contact img {
      width: 32px;
      height: auto;
      position: relative;
      top: -1.5em;
      margin-right: 0.5em; }
    .panel-home .section2 .container-section2 .contact .contact-content {
      display: inline-block; }
      .panel-home .section2 .container-section2 .contact .contact-content h5 strong {
        color: #659BD1;
        text-transform: uppercase; }
      .panel-home .section2 .container-section2 .contact .contact-content small {
        color: #659BD1;
        display: block; }
.panel-home .section3 .container {
  width: 80%;
  margin: 0 auto; }
  .panel-home .section3 .container h4 {
    color: #ccc;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 4em; }
  .panel-home .section3 .container .row img {
    width: 100%;
    height: auto;
    margin-bottom: 1em; }
.panel-home .section4 {
  position: relative;
  margin-top: 2em;
  margin-bottom: 10em; }
  @media only screen and (max-width: 767px) {
    .panel-home .section4 {
      margin-bottom: 4em !important; } }
  .panel-home .section4 #sec4-img {
    transition: all 0.8s ease-in-out;
    transform: translate3d(-101%, 0, 0);
    width: auto;
    height: 130%;
    position: absolute;
    top: 0;
    right: 50%; }
    @media only screen and (max-width: 767px) {
      .panel-home .section4 #sec4-img {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        transform: translate3d(0, 0, 0); } }
  .panel-home .section4 .section4-right {
    line-height: 2em;
    text-align: left; }
    .panel-home .section4 .section4-right #chart {
      transition: all 0.8s ease-in-out;
      transform: translate3d(0, 100%, 0); }
      .panel-home .section4 .section4-right #chart img {
        width: 70%; }
      .panel-home .section4 .section4-right #chart p {
        font-size: 1rem;
        font-weight: bold; }
.panel-home .section5 .container .row .sec5-item {
  margin-top: 1em; }
  .panel-home .section5 .container .row .sec5-item .number {
    position: relative;
    font-size: 3em;
    color: #659BD1; }
    .panel-home .section5 .container .row .sec5-item .number .somu {
      position: absolute;
      top: 0;
      font-size: 0.5em; }
  .panel-home .section5 .container .row .sec5-item .text {
    font-size: 1em;
    color: gray;
    text-transform: uppercase; }
.panel-home .section6 {
  margin-top: 5em; }
  .panel-home .section6 .container .row .sec6-left {
    text-align: left; }
    .panel-home .section6 .container .row .sec6-left h2 {
      font-weight: 600;
      font-size: 2.5rem; }
    .panel-home .section6 .container .row .sec6-left p {
      font-size: 16px;
      line-height: 32px;
      margin-top: 3rem;
      margin-bottom: 3rem; }
    .panel-home .section6 .container .row .sec6-left .button {
      margin-top: 1.5em;
      text-transform: uppercase;
      line-height: 1.5em;
      width: 13em;
      border-radius: 2em;
      font-size: 12px; }
    .panel-home .section6 .container .row .sec6-left .find {
      color: white;
      background: #F5AC5F;
      border: none; }
      @media only screen and (max-width: 767px) {
        .panel-home .section6 .container .row .sec6-left .find {
          position: absolute;
          top: 52em;
          left: 50%;
          margin-left: -7em; } }
      .panel-home .section6 .container .row .sec6-left .find:hover {
        background: black; }
    .panel-home .section6 .container .row .sec6-left .request {
      box-sizing: border-box;
      border: 2px solid #659BD1;
      color: #659BD1;
      background: white; }
      @media only screen and (max-width: 767px) {
        .panel-home .section6 .container .row .sec6-left .request {
          display: none; } }
      .panel-home .section6 .container .row .sec6-left .request:hover {
        background: #659BD1;
        color: white; }
  .panel-home .section6 .container .row .sec6-right {
    text-align: center;
    height: 30em; }
    @media only screen and (max-width: 767px) {
      .panel-home .section6 .container .row .sec6-right {
        height: 20em; } }
    .panel-home .section6 .container .row .sec6-right #sec6-img {
      transition: all 0.8s ease-in-out;
      transform: translate3d(150%, 0, 0);
      height: 75%;
      width: auto; }
      @media only screen and (max-width: 767px) {
        .panel-home .section6 .container .row .sec6-right #sec6-img {
          display: none !important; } }
    .panel-home .section6 .container .row .sec6-right #sec6-chart2 {
      width: 100%;
      display: none; }
      @media only screen and (max-width: 767px) {
        .panel-home .section6 .container .row .sec6-right #sec6-chart2 {
          display: block !important; } }
.panel-home #divider2 {
  width: 100%;
  height: auto;
  margin-top: 3em; }

@-webkit-keyframes bounceInUp {
  from,
    60%,
    75%,
    90%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  from,
    60%,
    75%,
    90%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp; }

@-webkit-keyframes bounceInLeft {
  from,
    60%,
    75%,
    90%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInLeft {
  from,
    60%,
    75%,
    90%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

.ani-class {
  transform: translate3d(0, 0, 0) !important; }

.ani-chart-in {
  transform: translate3d(0, 0, 0) !important; }

.boder-right {
  border-right: 1px solid gray; }

.ani-sec6 {
  transform: translate3d(0, 0, 0) !important; }

/*# sourceMappingURL=main.css.map */
