@import "variable";
@import "mixin";
body{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13px;
}

header{
    .navbar{
        background: white;
        padding-top: 1.5em !important;
        padding-bottom: 1.5em !important;
        .navbar-brand{
            #logo-big{
                display: inline-block;
                width: 10em;
                height: auto;
                @media only screen and (max-width: 991px){
                    display: none;
                }
            }
            #logo-small{
                display: none;
                @media only screen and (max-width: 991px){
                    display: inline-block;
                }
            }
        }
        .collapse{
            ul{
                position: absolute;
                right: 2em;
                @media only screen and (max-width: 767px){
                    position: relative;
                    right: 0;
                }
                .hide-item{
                    display: inline-block;
                    @media only screen and (max-width:1202px) and (min-width: 768px){
                        display: none !important;
                    }
                }
                .hide-dropdown{
                    display: none;
                    @media only screen and (max-width: 1202px) and (min-width: 768px){
                        display: inline-block !important;
                    }
                }
                .nav-item{
                    padding-right: 1em
                    span{
                        color: $color-blue;
                    }
                    .nav-link{
                        color:  $color-black-05;
                        &:hover{
                        color: $color-black;
                        }
                        .text-black{
                            color: $color-black;
                            text-transform: capitalize;
                            font-weight: 500;
                        }                
                    }
                    .dropdown-menu{
                        position: absolute;
                        left: -5em;
                        @media only screen and (max-width:767px){
                            position: relative;
                            left: 0;
                        }
                        @media only screen and (min-width:768px){
                            animation: bounceIn 0.5s linear forwards;
                        }
                        a{
                            border-bottom: 1px solid $color-black-015;
                            padding-top: 0.5em;
                            padding-bottom: 0.5em;
                            &:last-of-type{
                                border-bottom: none;
                            }
                            .icon{
                                display: inline-block;
                                margin-right: 1em;
                                img{
                                    width: auto;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #form-sign-in{
        animation: bounceIn 0.8s linear forwards;
        position: absolute;
        width: 18em;
        border: 1px solid $color-black-015;
        padding: 1.5em;
        text-align: left;
        background: white;
        z-index: $z-index2;
        right: 2em;
        top: 5em;
        border-radius: 4px;
        display: none;
        button{
            @include btn-sign-in;
            text-transform: capitalize !important;
            margin-right: 2em;
        }
    }
    //sign in button
    #sign-in{
        @include btn-sign-in;
    }
}

.panel-home{
    .section1{
        background: $color-blue;
        padding-bottom: 2em;
        .container{
            margin: 0 auto;
            text-align: center;
            h1{
                font-size: 48px;
                font-size: 3em;
                color: white;
                font-weight: bolder;
                margin: 1em auto;
            }
            .ani1{
                animation: bounceInUp 1.5s linear forwards;
            }
            .ani2{
                animation: bounceInUp 1.5s linear 0.2s forwards;
            }
            .ani3{
                animation: bounceInUp 1.5s linear 0.4s forwards;
            }
            .sec1-ani{
                text-align: center;
                
                img{
                    width: 7em;
                    height: auto;
                    margin-bottom: 1em;
                }
                #rate-icon{
                   width: 8em;
                }
                h5{
                    color: white;
                    font-weight: bolder;
                    text-align: center;
                }
            }
        }
    }
    img{
        vertical-align: baseline !important;
    }
    .section2{
        margin-top: 2em;
        .container-section2{
            width: 90%;
            margin: 0 auto;
            .contact{
                @media only screen and (max-width: 767px){
                    margin-bottom: 1em;
                }
                .contact-now{
                    margin-top: 1.5em;
                    text-transform: uppercase;
                    background: white;
                    color: $color-blue;
                    line-height: 1.5em;
                    width: 13em;
                    border: 2px solid $color-blue;
                    border-radius: 2em;
                    font-size: 12px;
                    &:hover{
                        background: $color-blue;
                        color: $color-white;
                    }
                }
                span::before{
                    font-size: 3em;
                }
                img{
                    width: 32px;
                    height: auto;
                    position: relative;
                    top: -1.5em;
                    margin-right: 0.5em;
                }
                .contact-content{
                    display: inline-block;
                    h5{
                        strong{
                            color: $color-blue;
                            text-transform: uppercase;
                        }
                    }
                    small{
                        color:$color-blue;
                        display: block; 
                    }
                }

            }
        }
    }
    .section3{
        @include sec-list;
    }
    .section4{
        position: relative;
        margin-top: 2em;
        margin-bottom: 10em;
        @media only screen and (max-width: 767px){
            margin-bottom: 4em !important;
        }
        #sec4-img{
            @media only screen and (max-width:767px){
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                transform: translate3d(0,0,0);
            }
            width: auto;
            height: 130%;
            position: absolute;
            top: 0;
            right: 50%;
        }
        .section4-right{
            line-height: 2em;
            text-align: left;
            #chart{
                img{
                    width: 70%;
                }
                p{
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        } 
    }
    .section5{
        .container{
            .row{
                .sec5-item{
                    margin-top: 1em;
                    .number{
                        position: relative;
                        font-size: 3em;
                        color: $color-blue;
                        .somu{
                            position: absolute;
                            top: 0;
                            font-size: 0.5em;
                        }
                    }
                    .text{
                        font-size: 1em;
                        color: $color-gray;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .section6{
        margin-top: 5em;
        .container{
            .row{
                .sec6-left{
                    text-align: left;
                    h2{
                        font-weight: 600;
                        font-size: 2.5rem;
                    }
                    p{
                        font-size: 16px;
                        line-height: 32px;
                        margin-top: 3rem;
                        margin-bottom: 3rem;
                    }
                    .button{
                        margin-top: 1.5em;
                        text-transform: uppercase;
                        line-height: 1.5em;
                        width: 13em;
                        border-radius: 2em;
                        font-size: 12px;
                    }
                    .find{
                        @media only screen and (max-width: 767px){
                            position: absolute;
                            top: 52em;
                            left: 50%;
                            margin-left: -7em;
                        }
                        @media only screen and (max-width: 375px){
                            top: 57em;
                        }
                        color: $color-white;
                        background: $color-brown;
                        border: none;
                        &:hover{
                            background: $color-black;
                        }
                    }
                    .request{
                        @media only screen and (max-width:767px){
                            display: none;
                        }
                        box-sizing: border-box;
                        border: 2px solid $color-blue;
                        color: $color-blue;
                        background: $color-white;
                        &:hover{
                            background: $color-blue;
                            color: $color-white;
                        }
                    }                
                }
                .sec6-right{
                    @media only screen and (max-width:767px){
                        height: 20em;
                    }
                    overflow: hidden;
                    text-align: center;
                    height: 30em;
                    #sec6-img{
                        @media only screen and (max-width:767px){
                            display: none !important;
                        }
                        height: 75%;
                        width: auto;
                        
                    }
                    #sec6-chart2{
                        @media only screen and (max-width:767px){
                            display: block !important;
                        }
                        width: 100%;
                        display: none;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
    #divider2{
        width: 100%;
        height: auto;
        margin-top: 3em;
    }
    .section7{
        .container{
            .row{
                h2{
                    margin: 1em auto;
                }
                p{
                    margin-bottom: 3em;
                }
                .sec7-content{
                    img{
                        width: auto;
                        height: 5em;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
    .section8{
        margin-top: 3em;
        .container{
            .trustyou{
                padding: 2em 1em;
                p{
                    @media only screen and (max-width: 768px) {
                        text-align: justify;
                    }
                }
                img{
                    width: 10em;
                    position: relative;
                    top: -2em;
                }
                
            }
        }
    }
    .section9{
        margin-top: 3em;
        .container{
            .row{
                h2{
                    margin: 0 auto;
                }
                p{
                    margin: 1em auto;
                }
                .vd2{
                    @media only screen and (max-width: 576px){
                        display: none;
                    }
                }
                .vd3{
                    @media only screen and (max-width: 576px){
                        display: none;
                    }
                }
                .sec9{
                    padding: 1em;
                    .sec9-video{
                        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        margin: 2em 0;
                        @media only screen and (max-width:576px){
                            margin: 1em 0;
                        }
                        
                        a{
                            color: $color-black;
                            &:hover{
                                color: $color-blue;
                            }
                            text-decoration: none;
                            .video{
                                position: relative;
                                .play-button{
                                    position: absolute;
                                    background: none;
                                    border: none;
                                    width: 30px;
                                    top: 50%;
                                    left: 50%;
                                    margin: -16px;
                                }
                                width: 100%;
                                
                                img{
                                    width: 100%;
                                }
                            }
                            .video-card{
                                padding: 1em 0.3em;
                                @media only screen and (max-width: 375px){
                                    padding-bottom: 2em;
                                }
                                h5{
                                    height: 4em;
                                    @media only screen and (max-width: 767px){
                                        font-size: 1em;
                                    }
                                    @media only screen and (max-width: 576px){
                                        height: 1em;
                                        font-size: 1.25em;
                                    }
                                    text-transform: capitalize;
                                    small{
                                        text-transform: uppercase;
                                        position: relative;
                                        top: -0.5em;
                                        left: -0.3em;
                                        margin-right: 0.2em;
                                    }
                                }
                            }
                        }
                    }
                }
                .browse{
                    @include button-blue;    
                }
            }
        }
    }
    #divider3{
        width: 100%;
        height: auto;
        margin: 1em 0;
    }
    .section10{
        @include sec-list;
        .container{
            h4{
                font-size: 2em;
                margin-top: 0;
                color: black;
                font-weight: 700;
                text-transform: capitalize;

            }
        }
    }
    .section11{
        width: 100%;
        height: 4em;
        background: $color-light;
        margin-top: 2em;
        @media only screen and (max-width: 991px) {
            height: 8em;
        } 
        @media only screen and (max-width: 375px) {
            height: 10em;
        }
        .container{
            text-align: center;
            padding-top: 1em;
            span{
                font-size: 1.4em;
                margin-right: 1em;
                color: $color-black;
                @media only screen and (max-width: 991px) {
                    margin-right: 0;
                    display: block;
                }       
            }
            a{
                @include button-blue;
                @media only screen and (max-width: 991px) {
                margin-top: 1em;
                } 
            }
        }
    }
}
footer{
    background: $color-footer;
    .my-container{
        padding: 1em;
        .row{
            .footer-item{
                ul{
                    list-style-type: none;
                    padding: 0;
                    color: $color-black;
                    li{
                        line-height: 2em;
                        a{
                            color: $color-black;
                            text-decoration: none;
                            &:hover{
                                color: $color-blue;
                            }
                        }
                    }
                }
            }
            .logo{
                @media only screen and (max-width: 767px) {
                    display: none;
                }
            }
            .address{
                @media only screen and (max-width: 767px) {
                    display: none;
                }
            }
            .contact{
                .row{
                    .contact-left{
                        @media only screen and (max-width: 767px) {
                            display: none;
                        }
                    }
                    .contact-right{
                        @media only screen and (max-width: 767px) {
                            display: none;
                        }
                        img{
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 2em;
                        }
                    }
                    .social{
                        a{
                            img{
                                width: 2em;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

//confirm
#bay-hotel{
    margin: 2em 0 5em 0;
    h3{
        font-weight: 600;
    }
    .star{
        .gold{
            color: $color-star-gold;
        }
        .white{
            color: $color-star-none;
        }
    }
}
#booking{
    padding: 2em 0;
    background: $color-light;
    p{font-size: 1.2em}
    strong{font-size: 1.4em}
}
#chitiet{
    margin: 2em 0;
    h3.text-blue{
        text-transform: uppercase;
    }
    h4{
        color: $color-gray;
        font-size: 1.75rem;
    }
    .chitiet-left{
        margin-top: 1em;
        .guest{
            .form-row{
                margin-top: 3em;
                @media only screen and (max-width: 575px){
                    margin-top: 1em;
                }
                input,select{
                    border: none;
                    border-bottom: 1px solid $color-eee; 
                }
            }
        }
    }
    .chitiet-right{
        margin-top: 1em;
        .payment{
            .payment-form{
                margin-bottom: 1.5em;
                input{
                    height: 3em;
                    background: $color-footer;
                }
            }
        }
    }
}

//summary
#summary{
    margin: 2em 0 5em 0;
    table{
        margin-bottom: 2em;
        tr{
            td{
                padding-left: 2em;
                h5{
                    font-weight: 600;
                }
            }
            th{
                h5{
                    font-weight: 600;  
                }
            }
        }
    }
    button{
        padding: 0.5em;
        position: relative;
        top: 0.4em;
        float: left;
        @include change-price;
    }
    .total{
        @media only screen and (max-width: 414px){
            float: left;
            margin-top: 1em;
            text-align: left;
        }
        text-align: right;
        font-size: 1.2em;
        font-weight: 600;
        .total-item{
            span{
                margin-left: 0.5em;
            }
            .top{
                color: $color-blue;
            }
            .bottom{
                color: $color-brown;
            }
        }
    }
    .clear{
        clear: left;
    }
}

//disclaimer
#disclaimer{
    border-top: 1px solid $color-border;
    border-bottom: 1px solid  $color-border;
    padding: 5em 0;
    margin-bottom: 2em;
    .container{
        #more,#less{
            button{
                background: none;
                border: none;
                color: blue;
                &:focus{
                   outline: none;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        #less{
            display: none;
        }
    }
}
#cancellation{
    .container{
        .row{
            .cancellation-left{
                p{
                    margin-bottom: 0.2em;
                }
            }
            .cancellation-right{
                text-align: center;
                button{
                    font-size: 1.3em;
                    text-transform: uppercase;
                    width: 9em;
                    height: 2.5em;
                    font-weight: 600;
                    color: $color-white;
                    background: $color-blue;
                    border: none;
                    margin: 1.5em 0;
                    &:hover{
                        background: $color-blue-hover;
                    }
                }
            }
        }
        .form-check{
            margin: 4em 0 3em 0;
        }
    }
}

//hotel.html
#hotel{
    #panel{
        height: 9em;
        background: $color-light;
        padding-top: 4em; 
        .container{
            .row{
                a,i{
                    color: $color-blue;
                } 
                .price-per{
                    padding-top: 1em;
                    background: white;
                    width: 100%;
                    text-align: center;
                    h4{
                        color: $color-black-05;
                        text-transform: uppercase;
                        font-size: 1.2em;
                    }
                    p{
                        color: $color-blue;
                        font-weight: 600;
                        margin-bottom: 0;
                        strong{
                            margin-left: 0.2em;
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }

    #bay-ht-sin{
        margin-top: 2em;
        margin-bottom: 2em;
        .container{
            .row{
                .bay-ht-left{
                    button{

                        @include btn-hotel;
                        background: $color-blue;
                        &:hover{
                            background: $color-blue-hover;
                        }
                    }
                    ul{
                        list-style-type: none;
                        padding-left: 0;
                        li{
                            img{
                                width: 1em;
                                height: auto;
                                margin-right: 0.2em;
                            }
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }
                .bay-ht-between{
                    text-align: left;
                    span{
                        font-size: 2.2em;
                        margin-right: 0.5em;
                    }
                    img{
                        width: 1.5em;
                        margin: 0 0.2em 0.8em 0;
                    }
                }
                .bay-ht-right{
                    button.change{
                        @media only screen and (max-width: 768px) {
                            height: 2.5em;
                        }
                        @include change-price;
                        width: 100%;
                        height: 3.75em;
                        text-transform: uppercase;
                    }
                
                }
                .hotel-location{
                margin-top: 1em;
                    img{
                        width: 1.5em;
                        margin-left: 0.5em;
                        margin-top: 0.3em;
                    }
                    h6{
                        color: $color-bac;
                    }
                }
                .excellent{
                    margin-top: 2em;
                    img{
                        width: 6em;
                    }
                }
                h6{
                    color: $color-bac;
                    margin-top: 1em;
                }
                #see{
                    @media only screen and (max-width: 768px){
                        width: 100%;
                    }
                    background: $color-white;
                    border: 2px solid $color-blue;
                    height: 2.5em;
                    width: 12em;
                    border-radius: 4px;
                    color: $color-blue;
                    margin-top: 1em;
                    &:hover{
                        background: $color-blue;
                        color: $color-white;
                    }
                }

            }
        }
    }

    //input group
    #input-group{
        min-height: 500px;
        background: $color-bg-hotel;
        padding-top: 2em;
        .search{
            @include search-mixin;
        }
        .bed{
            @media only screen and(max-width: 768px) {
                height: 13em;
                margin: 1em 0.5em;
                padding: 0;
            }
            padding-left: 1em;
            background: $color-white;
            height: 10em;
            margin: 3em;
            display: flex;
            align-items: center;
            &:hover{
                box-shadow: 0 0 30px rgba(101, 155, 209, 0.3);
            }
            
            .container{
                .row{
                   
                    .bed-name{
                        @media only screen and (max-width: 575px){
                            margin-bottom: 0.5em;
                        }
                        a{
                            @media only screen and (max-width: 768px){
                                font-size: 1em;
                            }
                            font-size: 1.5em;
                            color: black;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }
                    .bed-per{
                        @media only screen and (max-width: 575px){
                            margin-bottom: 0.5em;
                        }
                        h5{
                            @media only screen and (max-width: 768px){
                                font-size: 1em;
                            }
                            text-transform: uppercase;
                            span{
                                color: $color-brown;
                            }
                        }
                    }
                    .bed-policy{
                        .modal-dialog{
                            max-width: 50em !important;
                        }
                        .modal-header{
                            background: $color-blue;
                            border-top-right-radius: 1em;
                            border-top-left-radius: 1em;
                            
                        }
                        .modal-content{
                            border: none;
                            border-top-right-radius: 1em;
                            border-top-left-radius: 1em;
                        }
                        h5{
                            margin-left: 30% !important;
                            color: $color-white;
                        }
                        .bg-blue{
                            color: $color-blue;
                        }
                        .weight-bold{
                            font-weight: 600;
                        }
                        .color-xam{
                            color: $color-bac;
                        }
                    }
                }
            }
            .bed-money {
                @media only screen and (max-width: 768px){
                    width: 30%;
                }
                width: 16%;
                height: 100%;
                position: relative;
                right: 0;
                bottom: 0;
                .money-top{
                    @media only screen and (max-width: 575px){
                        margin-top: 1em;
                    }
                    text-align: center;
                    strong{
                        @media only screen and (max-width: 575px){
                            font-size: 1.5em;
                        }
                        font-size: 2em;
                        font-weight: 600;
                        color: $color-blue;
                        display: block;
                    }
                    small{
                        color: $color-blue;
                    }
                }
                .money-bottom{
                    height: 50%;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    button{
                        width: 100%;
                        height: 50%;
                        border: none;
                        color: white;
                        font-weight: 600;
                        span{
                            margin-right: 0.2em;
                        }
                        
                    }
                    .money-change{
                        background: $color-brown;
                        &:hover{
                            background: $color-black;
                        }
                    }
                    .money-book{
                        background: $color-blue;
                        &:hover{
                            background: $color-blue-hover;
                        }
                    }
                }

            }
        }
        .warning{
            p{
                @media only screen and (max-width: 768px){
                    margin: 1em 0.5em;
                }
                line-height: 2em;
                background: $color-blue;
                color: $color-white;
                margin: 1em 3em;
                padding-left: 1em;
                img{
                    width: 1.5em;
                    height: auto;
                }
            }
        }
    }

}

//search result
#search-result{
    #search-bar{
        background: $color-white;
        margin: 3em 0;
        .search{            
            @include search-mixin;
            margin: 3em;
            .search-input{
                input{
                    background: $color-bg-hotel;
                    border-right: 1px solid $color-white;
                    @media only screen and (max-width: 575px){
                        border-right: none;
                        border-bottom: 1px solid $color-white;
            }
                }
            }
            .check-in, .check-out, .room{
                background: $color-bg-hotel !important;
                border-right: 1px solid $color-white;
                @media only screen and (max-width: 575px){
                    border-right: none;
                    border-bottom: 1px solid $color-white;
                }
                input{
                    background: $color-bg-hotel !important;
                }
            }
        }
    }
    #result-bar{
        width: 100%;
        height: 5em;
        background: $color-result-bar;
        padding: 1.5em 3em;
        color: $color-white;
        span{
            font-size: 1.5em;
            text-transform: uppercase;
        }
    }
    .refine-search{
        .container{
            .row{
                .refine-left{
                    padding-top: 2em;
                    nav{
                        ol{
                            padding: 0;
                            background: none;
                        }
                    }
                }
            }
        }
    }
}