$z-index1: 100;
$z-index2: 200;
$z-index3: 300;
$z-index4: 400;
$z-index5: 500;

$color-black: black;
$color-blue: #659BD1;
$color-white: white;
$color-gray: gray;
$color-brown: #F5AC5F;
$color-light: #F5F9FC;
$color-footer: #E6EEF8;
$color-star-gold: #F5AC5F;
$color-star-none: #ccc;
$color-eee: #eee;
$color-border: #dee2e6;
$color-blue-hover:#4888c8;
$color-black-015: rgba(0, 0, 0, 0.15);
$color-black-05: rgba(0, 0, 0, 0.5);
$color-bac: #6c757d;
$color-bbb: #BBBDBF;
$color-bg-hotel: #F7F7F8;
$color-result-bar: #464749;
$color-refine: #adafb1;
$color-refine-2: #f5f5f6;
$color-vang: #ffc107;
$color-success: #28a745;